$default: #000;

@import 'reset';

body {
    font-family: "Lucida Grande", sans-serif;
    font-size:16px;
}

h1 {
    font-size: 2rem; 
}
h2 {
    font-size:1.75rem;
}
h3 {
    font-size:1.5rem;
}
h4 {
    font-size:1.25rem;
}

#pageWrap {
    max-width:1024px;
    margin:20px auto;
}    


#navCol {
    width: 20%;
    float:left;
    margin: 0 20px 20px 0;
    nav {  
        margin:0 0 20px 0;
        ul li:first-child{
            border-top:1px solid #000;
        }
        ul li {
            border-bottom: 1px solid #000;
            text-align:center;
            ul {
                position:absolute;
                left:-9999px;
                top:0px;
                z-index:10;
                li {
                    background-color:#fff;
                    border-right:2px solid aqua;
                    width:200px; 
                }
            }
            a {
                text-transform:uppercase;
                display:inline-block;
                box-sizing:border-box;
                padding:15px 40px;
            }
            a:hover + ul, ul:hover {
                left:200px;
            }
        }
    }   
    .social {
        margin: 0 0 20px 0;
        li {
            display:inline;
        }
    }
    .parent_link:after {
        content: ">";
    }
}

#contentWrap {
    width:70%;
    float:left;
    .banner {
        color:#fff;
        background-color:#000;
        width:100%;
        padding:40px 40px;
        margin:20px 0;
        text-align:center;
        box-sizing:border-box;
    }
}

header {
    h1 {
        padding:0 0 20px 0;
    }
    h3 {
        
    }
    region-header-form {
        width:40%;
        float:right;
    }
}

.contentBox {
    .headshot {
        float:left;
        padding: 0 10px 0 0;
    }
    .content {
        display:inline;
        text-align:center;
        font-size:1rem;
        h2 {
            padding:20px;
        }
        h4 {
            padding:0 20px 20px;
        }
    }
}

.box {
    display:inline-block;
    width:45%;
    border:1px solid #000;
    height:300px;
}

.clearfix:after {
    visibility:hidden;
    display:block;
    content:"";
    clear:both;
    height:0;
}

/*-----------MOBILE-------------*/
@media all and (max-width:768px){

    #navCol {
        display:none;
    }
    #contentWrap {
        width:100%;
        .banner {
            color:#000;
            background-color:#fff;
        }
    }
}

@media all and (max-width:320px){
    #contentWrap {
        .banner {
            color:#000;
            background-color:#fff;
            font-size: 1.3rem;
        }
    }

    .contentBox {
        .headshot {
            width:100%;
            margin:0 auto;
            padding:20px 0px;
        }
        .content {
            text-align:left;
            h2 {
                text-align:center;
            }
        }
    }
    .box {
        width:95%;
        margin:20px auto;
        display:block;
    }


}
