/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

#pageWrap {
  max-width: 1024px;
  margin: 20px auto; }

#navCol {
  width: 20%;
  float: left;
  margin: 0 20px 20px 0; }
  #navCol nav {
    margin: 0 0 20px 0; }
    #navCol nav ul li:first-child {
      border-top: 1px solid #000; }
    #navCol nav ul li {
      border-bottom: 1px solid #000;
      text-align: center; }
      #navCol nav ul li ul {
        position: absolute;
        left: -9999px;
        top: 0px;
        z-index: 10; }
        #navCol nav ul li ul li {
          background-color: #fff;
          border-right: 2px solid aqua;
          width: 200px; }
      #navCol nav ul li a {
        text-transform: uppercase;
        display: inline-block;
        box-sizing: border-box;
        padding: 15px 40px; }
      #navCol nav ul li a:hover + ul, #navCol nav ul li ul:hover {
        left: 200px; }
  #navCol .social {
    margin: 0 0 20px 0; }
    #navCol .social li {
      display: inline; }
  #navCol .parent_link:after {
    content: ">"; }

#contentWrap {
  width: 70%;
  float: left; }
  #contentWrap .banner {
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 40px 40px;
    margin: 20px 0;
    text-align: center;
    box-sizing: border-box; }

header #burger {
  display: none; }
header h1 {
  padding: 0 0 20px 0; }
header .headerForm {
  width: 40%;
  float: right;
  display: inline; }

.contentBox .headshot {
  float: left;
  padding: 0 10px 0 0; }
.contentBox .content {
  display: inline;
  text-align: center;
  font-size: 1rem; }
  .contentBox .content h2 {
    padding: 20px; }
  .contentBox .content h4 {
    padding: 0 20px 20px; }
  .contentBox .content p {
    padding: 10px; }

.box {
  display: inline-block;
  width: 45%;
  border: 1px solid #000;
  height: 300px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

/*-----------MOBILE-------------*/
@media all and (max-width: 768px) {
  #pageWrap {
    margin: 0 auto; }

  #navCol {
    width: 100%;
    margin: 0px; }
    #navCol nav {
      margin: 0px;
      display: none; }
      #navCol nav .menu li {
        margin: 0px; }
      #navCol nav ul li ul {
        position: relative;
        top: 0;
        left: 0;
        height: 0px;
        overflow: hidden; }
        #navCol nav ul li ul li {
          width: 100%;
          border-right: none;
          background-color: #000; }
      #navCol nav ul li {
        border-bottom: 1px solid #fff;
        background-color: #282828; }
        #navCol nav ul li .expanded {
          height: 100%; }
        #navCol nav ul li a:hover + ul, #navCol nav ul li ul:hover {
          left: 0px; }
        #navCol nav ul li ul li:first-child {
          border-top: 1px solid #000; }
      #navCol nav a {
        width: 100%;
        color: #fff; }
      #navCol nav .parent_link a:before {
        content: "+ "; }
      #navCol nav .child_link a:before {
        content: none; }
      #navCol nav .parent_link:after {
        display: none; }
    #navCol nav.full {
      display: block; }
    #navCol #block-menu-menu-social {
      display: none; }

  #contentWrap {
    width: 100%; }
    #contentWrap .banner {
      color: #000;
      background-color: #fff;
      margin: 0;
      padding: 10px 40px; }

  header #burger {
    display: inline;
    float: left;
    padding: 0 20px;
    width: 10%; }
  header .headerForm {
    display: none; } }
@media all and (max-width: 320px) {
  header {
    text-align: center;
    width: 100%; }
    header h1 {
      position: fixed;
      display: block;
      width: 100%;
      top: 0px;
      left: 0px;
      font-size: 1.4rem;
      background-color: #282828;
      padding: 10px 0;
      z-index: 999; }
      header h1 a {
        color: #fff;
        width: 100%; }
    header h3 {
      font-size: 0.8rem;
      padding: 20px 0; }

  #navCol {
    margin: 40px 0 0 0; }

  #contentWrap .banner {
    color: #000;
    background-color: #fff;
    font-size: 1.3rem; }

  .contentBox .headshot {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center; }
  .contentBox .content {
    text-align: left; }
    .contentBox .content h2 {
      text-align: center; }
    .contentBox .content p {
      padding: 0 20px; }

  .box {
    width: 90%;
    margin: 20px auto;
    display: block; } }
